<% const title = 'タイトル'; %>
<% const description = 'ディスクリプション'; %>
<% const keywords = 'キーワード'; %>
<% const og_url = 'https://' %>
<% const og_type = 'website, article' %>
<% const og_title = 'og_タイトル' %>
<% const og_description = 'og_ディスクリプション' %>
<% const og_site_name = 'og_サイトネーム' %>
<% const og_image = 'https://' %>
<% const tw_card = 'summary' %>
<% const tw_image = 'https://' %>
<% const path = '..'; %>

<% include common/_header %>
  <!-- contents -->
  <div class="LyContents" role="main">
    <section class="MdMN01Section MdSection">
      <div class="mdMN01SectionWrap">
        <div class="mdMN01SectionInner">
          Section01
        </div>
      </div>
    </section>
    <section class="MdMN02Section MdSection">
      <div class="mdMN02SectionWrap">
        <div class="mdMN02SectionInner">
          Section02
        </div>
      </div>
    </section>
    <section class="MdMN03Section MdSection">
      <div class="mdMN03SectionWrap">
        <div class="mdMN03SectionInner">
          Section03
        </div>
      </div>
    </section>
  </div>
<% include common/_footer %>
