  <footer class="LyFooter" role="contentinfo">
    <div class="MdGFT01Wrap">
      <div class="mdGFT01Inner"></div>
      <p class="mdGFT01Copyright">© LINE Corporation</p>
    </div>
  </footer>
</body>
</html>