<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="utf-8">
  <title><%= title %></title>
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, viewport-fit=cover">
  <meta name="format-detection" content="telephone=no">
  <meta name="description" content="<%= description %>">
  <meta name="keywords" content="<%= keywords %>">
  <link rel="stylesheet" href="<%= path %>/css/style_sp.css">
</head>
<body>
  <div class="LyHeader">
    <div class="MdGHT01Wrap">
      <div class="mdGHT01Inner">Header</div>
    </div>
  </div>
