<% var title = 'タイトル'; %>
<% var description = 'ディスクリプション'; %>
<% var keywords = 'キーワード'; %>
<% var path = '..'; %>
  <!-- header -->
  <% include common/_header %>
  <!-- contents -->
  <div class="LyContent" role="main">
    <div></div>
  </div>
  <!-- footer -->
<% include common/_footer %>
