<% const title = 'タイトル'; %>
<% const description = 'ディスクリプション'; %>
<% const keywords = 'キーワード'; %>
<% const path = '..'; %>
<% include common/_header %>
  <div class="LyContent" role="main">
    <section class="MdMN01Section MdSection">
      <div class="mdMN01SectionWrap">
        <div class="mdMN01SectionInner">
          section01
        </div>
      </div>
    </section>
    <section class="MdMN02Section MdSection">
      <div class="mdMN02SectionWrap">
        <div class="mdMN02SectionInner">
          section02
        </div>
      </div>
    </section>
    <section class="MdMN03Section MdSection">
      <div class="mdMN03SectionWrap">
        <div class="mdMN03SectionInner">
          section03
        </div>
      </div>
    </section>
  </div>
<% include common/_footer %>
